div.dokuwiki pre.code
{

        border: #8cacbb 1px dashed;
        width: 90%;
        margin-left: 15px;
        padding: 0.5em;
        font-size: 10pt;
        color: #000066;
        font-family: 'Courier New' , Monospace;
        background-color: #f7f9fa;
       
}

